<!doctype html>

<html lang="en" ng-app="formLoginApp">

		<title>{{ 'Snap Chat Bordeaux' }}</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
        <link rel="icon" type="image/png" href="css/images/favicon.png" />

        <script src="javascript/lib/angular/angular.min.js"></script>
		<script src="javascript/lib/jquery/jquery.min.js"></script>
		<script src="javascript/lib/skeljs/skel.min.js"></script>
		<script src="javascript/design/init.js"></script>

        <!-- CSS -->
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			<link rel="stylesheet" href="css/noscript.css" />
		</noscript>

        <!-- Controlers -->
        <script src="javascript/app/formLoginApp.js"></script>
        <script src="javascript/app/navBar.js"></script>


		
	</head>
	<body class="homepage" ng-controller="formController">

		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav" ng-controller="navBarController">
						<div ng-bind-html="displayNavBar()"></div>
					</nav>

				<!-- Main -->
					<div id="main">
							<article id="work" class="panel">
								<header>
									<h2 id="ptitle">Sign In</h2>
								</header>


                                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                                <div id="messages" class="well" style="color:rgb(143, 224, 143);" ng-show="message">{{ message }}</div>


                                        
								<form autocomplete="off" ng-submit="processForm()">
									<div>
										<div class="row half">
											<div class="6u">
                                                <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
												<input type="text" class="text" name="email" id="email" placeholder="Email" ng-model="formData.email"/>
                                                
											</div>
										</div>
										<div class="row half">
											<div class="6u">
												<input type="password" class="text" name="password" id="password" placeholder="Password" ng-model="formData.password"/>
											</div>
										</div>
                                        <br>
										<div class="row">
											<div class="12u">
												<input id="signin" type="submit" class="button" style="margin-top: 1em;"/>
											</div>
										</div>
									</div>
								</form>
							</article>
					</div>
		
				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>Créé par : Marie Omiscar, Julio Matarranz, Guillaume Meral, Aliou Diallo & Guillaume Guerin de Tourville</li>
                            <li>Projet pour l'Université Bordeaux</li>
                            <li>Client : Xavier Blanc</li>
                            <li>Design : <a href="http://html5up.net/">HTML5 UP</a></li>
						</ul>
					</div>
		
			</div>

	</body>
</html>
